@model IEnumerable<MVCReviewSiteProject.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2 id="header">See What They Are Saying!</h2>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-12 colBorder" id="background">
            <div>
                <h3><b>Name:</b></h3>
                <h4>@Html.DisplayFor(modelItem => item.Category.Name)</h4>
            </div>
            <div>
                <h3><b>Snippet:</b></h3>
                <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
            </div>
            <h3>
                <b>Content:</b>
            </h3>
            <h4>@Html.DisplayFor(modelItem => item.Content)</h4>
            <h3>
                <b>Date:</b>
            </h3>
            <h4>@Html.DisplayFor(modelItem => item.PublishedDate)</h4>
            <h4>
                <b>Would you Recommend:</b>
            </h4>
            <h5>@Html.DisplayFor(modelItem => item.YesOrNO)</h5>

            <p id="actionLinks">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </p>
        </div>
    }
</div>


